<div class="ui center aligned inverted raised very padded text container segment">
<form class="ui form" action="/taulkback/create" method="post">
  <h2>Create a new post</h2>
  <p>Limit 300 characters</p>
  <div class="field">
  <textarea name="newPost" class="form-control" rows="4"></textarea>
  </div>
  <input class="ui inverted teal button" type="submit" name="" value="Post">
</form>
</div>
