<br>
<div class="ui inverted vertical footer segment" style="bottom: 0; position: abosolute";>
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="four wide column">
          <h4 class="ui inverted header">Links</h4>
          <div class="ui inverted link list">
            <a href="#" target="_blank" class="item">Home</a>
            <a href="#" target="_blank" class="item">Api</a>
            <a href="https://github.com/mercerbe/Taulkback" target="_blank" class="item">GitHub Repo</a>
          </div>
        </div>
        <div class="four wide column">
          <h4 class="ui inverted header">Resources</h4>
          <div class="ui inverted link list">
            <a href="https://www.npmjs.com/package/sequelize-cli" target="_blank" class="item">Sequelize</a>
            <a href="https://semantic-ui.com/" target="_blank" class="item">Semantic</a>
            <a href="https://github.com/ericf/express-handlebars" target="_blank" class="item">Handlebars</a>
          </div>
        </div>
        <div class="eight wide column">
          <h4 class="ui inverted header">Connect</h4>
          <div class="ui horizontal list">
            <div class="item">
              <a href="https://www.facebook.com/mercerbe" target="_blank"><i class="big inverted teal facebook icon"></i></a>
            </div>
            <div class="item">
              <a href="https://twitter.com/ben_codes" target="_blank"><i class="big inverted teal twitter square icon"></i></a>
            </div>
            <div class="item">
              <a href="https://www.linkedin.com/in/ben-mercer/" target="_blank"><i class="big inverted teal linkedin icon"></i></a>
            </div>
            <div class="item">
              <a href="https://www.instagram.com/wetbanditaudio/" target="_blank"><i class="big inverted teal instagram icon"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <i class="comments outline icon"></i>
    </div>
  </div>
