<head>
  <!-- fonts -->
</head>

<div class="ui inverted raised very padded text container segment">
  <h2 class="ui header">Taulkback</h2>
  <a href="/signup"><button class="ui inverted teal button">Signup</button></a>
  <a href="/login"><button class="ui inverted primary button">Login</button></a>
</div>
