<head>
  <!-- fonts -->
</head>

<div class="main_wrapper" style="height:100%;">

<div class="ui inverted raised very padded segment">
  <h1 class="ui center aligned icon header">
    <i class="comments outline icon"></i>
    <div class="content">
      Taulkback
    </div>
  </h1>

  <div class="ui inverted center aligned segment">
    <a href="/signup"><button class="ui inverted teal button">Signup</button></a>
    <a href="/login"><button class="ui inverted teal button">Login</button></a>
  </div>
</div>


<div class="ui inverted raised padded text container segment">
  <h3 class="ui header">Recent Posts</h3>
  <div class="postsDiv" style="overflow: auto;max-height:300px;">
  {{#posts}}
    <div class="postwrapper">

        <div class="">{{user.name}}</div>
        <div class="">{{title}}</div>
        <div class="">{{body}}</div>
        <div class="">{{createdAt}}</div>

      <form class="" action="/like" method="post">
        <button class="ui inverted tiny teal button" type="submit" name="submitbtn"><i class="thumbs up icon"></i></button>
      </form>

    </div>
  {{/posts}}
  </div>
</div>
</div>
<br>
{{> footer}}
