<head>
  <!-- fonts -->
</head>

<div class="ui inverted raised very padded text container segment">
  <h2 class="ui center aligned icon header">
    <i class="comments outline icon"></i>
    <div class="content">
      Taulkback
    </div>
  </h2>

  <div class="ui inverted center aligned segment">
    <a href="/signup"><button class="ui inverted teal button">Signup</button></a>
    <a href="/login"><button class="ui inverted primary button">Login</button></a>
  </div>
</div>

<div class="wrapper">

</div>

{{> footer}}
