<!-- menu bar -->
<div class="ui inverted segment">
  <div class="ui fixed inverted five item menu">
    <span class="item"><i class="comments outline icon"></i>Taulkback</span><a class="item" href="/home">home</a><a class="item" href="/new">New Post</a><span class="item">logged in as {{#name}}{{.}}{{/name}}</span><a class="item" href="/logout">log out</a>
  </div>
</div>
<br>


<div class="ui center aligned inverted raised very padded text container segment">
<div class="wrapper">
  <h3 class="ui inverted header">Recent Likes</h3>
  <ul>
    {{#likes}}
      <li class="posted">post{{postId}}</li>
      <li class="liked">was liked by{{user.name}}</li>
    {{/likes}}
  </ul>
</div>
</div>

{{> footer}}
