<!-- menu bar -->
<div class="ui inverted five item menu">
  <a class="item" href="./home">home</a><a class="item" href="./new">new post</a><a class="item" href="./likes">Likes</a><a class="inactive item" >logged in as {{#name}}{{.}}{{/name}}</a><a class="item" href="/logout">log out</a>
</div>


<div class="ui center aligned inverted raised very padded text container segment">
<div class="wrapper">
  <h3 class="ui inverted header">Recent Likes</h3>
  <ul>
    {{#likes}}
      <li class="posted">post{{postId}}</li>
      <li class="liked">was liked by{{user.name}}</li>
    {{/likes}}
  </ul>
</div>
</div>
