<form action="/login" method="post">
  <h1>Log in</h1>
  <fieldset>
    <label for="username">Username</label>
    <input autocomplete="off" type="text" name="username" placeholder="username">
    <label for="password">Password</label>
    <input autocomplete="off" type="password" name="password" placeholder="password">
    <div class="form__submit-button">
      <input type="submit">
    </div>
  </fieldset>
</form>
