<div class="ui center aligned inverted raised very padded text container segment">
  <div class="ui inverted form">
    <form action="/login" method="post">
      <h1>Log in</h1>
      <fieldset>
        <label for="username">Username</label>
        <input required autocomplete="off" type="text" name="username" placeholder="username">
        <label for="password">Password</label>
        <input required autocomplete="off" type="password" name="password" placeholder="password">
        <div class="form__submit-button">
          <br>
          <input class="ui inverted primary button" type="submit">
        </div>
      </fieldset>
    </form>
    <br>
    <a href="/"><button class="ui inverted teal button">Back</button></a>
  </div>
</div>
