<!-- menu bar -->
<div class="ui inverted segment">
  <div class="ui fixed inverted five item menu">
    <span class="item"><i class="comments outline icon"></i>Taulkback</span><a class="item" href="/home">home</a><a class="item" href="/likes">Likes</a><span class="item">logged in as {{#name}}{{.}}{{/name}}</span><a class="item" href="/logout">log out</a>
  </div>
</div>
<br>

<!-- new post form -->
<div class="ui center aligned inverted raised very padded text container segment">
  <div class="ui inverted form">
    <form action="/new" method="post">
      <div>
        <h2 class="ui inverted header">{{#name}}{{.}}{{/name}}</h3>
    </div>
    <h3 class="ui inverted header">Write a new post</h1>
    <fieldset>
      <div class="labelwrap">
        <label>Post Title</label>
        <input class="post_title" type="text" name="postTitle" placeholder="Post Title">
        <label>Post</label>
        <textarea class="post_body" type="text" name="postBody" placeholder="Write your post here..."></textarea>
      </div>
      <div class="form__submit-button">
        <br>
        <input class="ui inverted primary button" type="submit">
      </div>
    </fieldset>
  </form>
  </div>
</div>

{{> footer}}
