<div class="navbar">
  <span><a href="./home">home</a></span><span><a href="./new">new post</a></span><span><a href="./likes">Likes</a></span><span>logged in as {{#name}}{{.}}{{/name}}</span><span><a href="/logout">log out</a></span>
</div>
<div class="bodywrapper">
  <form action="/new" method="post">
    <div>
      <h3>Welcome, {{#name}}{{.}}{{/name}}</h3>

    </div>
    <h1 class="h1">Write a new post:</h1>
    <fieldset>
      <div class="labelwrap">
        <input class="post_title" type="text" name="post_title" placeholder="Post Title">
        <textarea class="post_body" type="text" name="post_body" placeholder="Write your post here..."></textarea>
      </div>
      <div class="form__submit-button">
        <input type="submit">
      </div>
    </fieldset>
  </form>
</div>
