<!-- menu bar -->
<div class="ui inverted five item menu">
  <a class="item" href="./home">home</a><a class="item" href="./new">new post</a><a class="item" href="./likes">Likes</a><a class="inactive item" >logged in as {{#name}}{{.}}{{/name}}</a><a class="item" href="/logout">log out</a>
</div>

<!-- new post form -->
<div class="ui center aligned inverted raised very padded text container segment">
  <div class="ui inverted form">
  <form action="/new" method="post">
    <div>
      <h2 class="ui inverted header">=>{{#name}}{{.}}{{/name}}<=</h3>
    </div>
    <h3 class="ui inverted header">Write a new post =></h1>
    <fieldset>
      <div class="labelwrap">
        <input class="post_title" type="text" name="post_title" placeholder="Post Title">
        <textarea class="post_body" type="text" name="post_body" placeholder="Write your post here..."></textarea>
      </div>
      <div class="form__submit-button">
        <br>
        <input class="ui inverted primary button" type="submit">
      </div>
    </fieldset>
  </form>
  </div>
</div>
