<div class="main_wrapper" style="height:100%;">
<div class="ui inverted segment">
  <div class="ui fixed inverted menu">
    <span href="#" class="header item">
      <i class="comments outline icon"></i>
      Taulkback
    </span>
    <a class="item" href="/">Back</a>
    <a class="item" href="/login">Login</a>
  </div>
  <br>
  <h2 class="ui center aligned icon header">
    <i class="users icon"></i>
  </h2>
</div>

<div class="ui center aligned inverted raised very padded text container segment">
  <div class="ui inverted form">
    <form action="/signup" method="post">
      <h1 class="h1">Sign Up</h1>
      <fieldset>
        <div class="labelwrap2">
          <div class="labelwrap">
            <label for="name">Name</label>
            <input required type="text" name="name" placeholder="name">
          </div>
          <div class="labelwrap">
            <label for="email">Email</label>
            <input required type="text" name="email" placeholder="example@example.com">
          </div>
        </div>
        <div class="labelwrap2">
          <div class="labelwrap">
            <label for="username">Username</label>
            <input required type="text" name="username" placeholder="name">
          </div>
          <div class="labelwrap">
            <label for="password">Password</label>
            <input required type="text" name="password" placeholder="password">
          </div>
        </div>
        <br>
        <div class="form__submit-button">
          <input class="ui inverted teal button" type="submit">
        </div>
      </fieldset>
    </form>
    <br>
    <a href="/"><button class="ui inverted primary button">Back</button></a>
  </div>
</div>
</div>

{{> footer}}
