html {
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

*, *:before, *:after, {
  box-sizing: inherit;
}

body{
    min-height: 100%;
    min-width: 100%;
    box-sizing: inherit;
    font-family: 'Suez One', serif;
    position: relative;
}
