

<div class="ui center aligned inverted raised very padded text container segment">
  <div class="ui inverted form">
    <h5>signup &amp; start taulking</h5>
    <form action="/signup/" method="post">
      <fieldset>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="Email1" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="Password1">Password</label>
        <input type="password" class="form-control" name="password" id="Password1" placeholder="Password">
      </div>
      </fieldset>
      <br>
      <button type="submit" class="ui inverted teal button">Signup</button>
    </form>
  </div>
</div>
